a{
        transition: .15s;
    }
    a.remove{
        color:#e03b2f;
    }
    a.remove:hover{
        color:#c4372d;
    }
    a.update{
        color:#2abf52;
    }
    a.update:hover{
        color: #249c44;
    }

.display-5 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
    letter-spacing: -.0625em
}

@media (min-width:768px) {
    .display-5 {
        font-size: 3rem
    }
}

.display-6 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    letter-spacing: -.0625em
}

@media (min-width:768px) {
    .display-6 {
        font-size: 2rem
    }
}

.display-7 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    letter-spacing: -.0625em
}

@media (min-width:768px) {
    .display-7 {
        font-size: 1.5rem
    }
}

.display-8 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    letter-spacing: -.0625em
}

@media (min-width:768px) {
    .display-8 {
        font-size: 1.25rem
    }
}