/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
Dashboard/resources/views/main/product/index.blade.php
Dashboard/resources/views/main/index.blade.php
Dashboard/resources/views/main/brand/landing.blade.php
Dashboard/resources/views/main/brand/index.blade.php
Dashboard/resources/views/category_level1/index.blade.php/product/index.blade.php
Dashboard/resources/views/category_level1/index.blade.php/index.blade.php
Dashboard/resources/views/category_level1/index.blade.php/brand/landing.blade.php
Dashboard/resources/views/category_level1/index.blade.php/brand/index.blade.php
Dashboard/resources/views/main/product/index.blade.php
Dashboard/resources/views/main/index.blade.php
Dashboard/resources/views/main/brand/landing.blade.php
Dashboard/resources/views/main/brand/index.blade.php
